@import "tailwindcss";
@plugins "@tailwindcss/typography";

:root {
  --font-gelasio: "Gelasio", serif;
  --font-noto-sans: "Noto Sans", sans-serif;
}

p {
  font-family: var(--font-noto-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-gelasio);
}
